Source: tzdata-bb
Section: libs
Priority: extra
Build-Depends: debhelper (>= 8.0.0)
Build-Depends-Indep: po-debconf
X-Original-Maintainer: GNU Libc Maintainers <debian-glibc@lists.debian.org>
Maintainer: Tom K. C. Chiu <tomchiukc@gmail.com>
Standards-Version: 3.9.1
Homepage: https://github.com/tomchiukc/tzdata-bb

Package: tzdata-bb
Architecture: all
Depends: debconf | debconf-2.0, tzdata, ${misc:Depends}
Description: Babycaseny time zone name adding
 Updates the system timezone names to include Babycaseny timezones.
